body {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    font-weight: normal;
    font-family: "Roboto";
}

.promo-title {
    font-size: 35px;
    line-height: 41px;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto";
}

.page-title {
    font-size: 35px;
    line-height: 41px;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto";
}
